{% extends "layout.html" %}
{% block content %}
{% if current_user.is_admin %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
<div class="form-group">
  <!-- CPP <input type="checkbox" value="cpp" name="mycheckbox">
  Python<input type="checkbox" value="python" name="mycheckbox">
  Others <input type="checkbox" value="others " name="mycheckbox"> -->
  {{ form.catagories.label(class="form-control-label") }}
  {% if form.catagories.errors %}
      {{ form.catagories(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in form.content.errors %}
              <span>{{ error }}</span>
          {% endfor %}
      </div>
  {% else %}
      {{ form.catagories(class="form-control form-control-lg") }}
 
  {% endif %}       
</div>
  
  <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
  </div>
      

</form>
</fieldset>
{% endif %}         
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              &emsp;&emsp;&emsp;&emsp;&emsp;
              <span class="bg-info text-white">{{ post.catagories }}</span>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

  
{% endblock content %}
